@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 375px;
  height: 100vh;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  color: #fcfcfc;
  user-select: none;
  overflow-x: hidden;
}

body a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 2px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.nav__links {
  padding: 0px 20px;
}

.nav__links ul {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav__links ul li a {
  display: inline-block;
  padding: 30px;
  mix-blend-mode: difference;
  font-weight: 400;
  font-size: 18px;
  transition: transform 0.5s ease, font-weight 0.5s ease;
  cursor: pointer;
}

.nav__links a:hover {
  transform: translateY(-10px);
  font-weight: 460;
}

.home__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home__link h3 a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  mix-blend-mode: difference;
  display: inline-block;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

.home__link h3 a:hover {
  font-weight: 700;
  transform: translateY(-10px);
}

.hamburger {
  display: none;
  position: relative;
  right: 0px;
  padding: 20px 0px 20px 20px;
  justify-content: right;
  align-items: center;
  user-select: none;
}

.hamburger span {
  font-size: 30px;
  mix-blend-mode: difference;
  cursor: pointer;
}

.hamburger__links {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 5;
  height: auto;
  top: -30px;
  right: -350px;
  padding: 80px;
  font-size: 30px;
  border-radius: 20px 0px 0px 20px;
  color: #000;
  background: #000;
  transition: all 0.5s ease;
}

.hamburger__links li {
  list-style: none;
  display: relative;
  padding: 10px;
}

.hamburger__links a {
  font-family: "Montserrat", sans-serif;
}

.hamburger:hover .hamburger__links {
  display:  block;
  opacity: 1;
  right: -40px;
  transition: all 0.7s ease
}

@media (max-width: 850px) {
  .navbar {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .nav__links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}




/* Hero Section */

.hero {
  width: 100%;
  height: 800px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/hero.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  user-select: none;
  margin-bottom: -150px;
}

.hero h1 {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 9.5vw;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
  mix-blend-mode: difference;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 300px;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

#section05 {
  background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;
}

#section05 a {
  padding-top: 70px;
}

#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}





/* SERVICE SECTION */

.service,
.about {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  max-width: 900px;
  height: auto;
  margin: 90px auto;
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  background: rgba(25, 25, 25, 1);
  overflow: hidden;
}

.service__text,
.about__text {
  position: relative;
  width: 60%;
}



.service__img,
.about__img {
  display: flex;
  position: relative;
}

.service__img1,
.about__img1 {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  transform: rotate(-5deg) translate(60px, -10px);
  transition: transform 0.3s ease;
  background-color: transparent;
}

.service__img2,
.about__img2 {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  transform: rotate(5deg) translate(80px, -30px);
  transition: transform 0.3s ease;
  background-color: transparent;
}

.service:hover .service__img1,
.about:hover .about__img1 {
  transform: rotate(-10deg) translate(0px, -10px);
  transition: transform 0.5s ease;
}

.service:hover .service__img2,
.about:hover .about__img2 {
  transform: rotate(10deg) translate(160px, -30px);
  transition: transform 0.5s ease;
}



@media (max-width:750px) {
  .hero {
    height: 800px;
  }

  .service {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 40px;
    height: 600px;
    width: 80%;
  }

  .service__text {
    width: 100%;
    height: auto;
  }

  .service__text p {
    text-align: left;
  }

  .service__img {
    display: flex;
    justify-content: center
  }

  .service__img1 {
    transform: translate(-100px, 0px) rotate(-5deg);
  }

  .service__img2 {
    transform: translate(100px, 0px) rotate(5deg);
  }

  .service:hover .service__img1 {
    transform: translate(-100px, 0px) rotate(-5deg);
  }

  .service:hover .service__img2 {
    transform: translate(100px, 0px) rotate(5deg);
  }

  .about {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 40px;
    height: 600px;
    width: 80%;
  }

  .about__text {
    width: 100%;
    height: auto;
  }

  .about__text p {
    text-align: left;
  }

  .about__img {
    display: flex;
    justify-content: center;
  }

  .about__img1 {
    transform: translate(-100px, 0px) rotate(-5deg);
  }

  .about__img2 {
    transform: translate(100px, 0px) rotate(5deg);
  }

  .about:hover .about__img1 {
    transform: translate(-100px, 0px) rotate(-5deg);
  }

  .about:hover .about__img2 {
    transform: translate(100px, 0px) rotate(5deg);
  }
}

/* SPACER */
.spacer {
  width: 0.1%;
  height: 200px;
  border-radius: 50px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.2);
}

/* CLIENTS SECTION */
.clients {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  margin: 150px auto;
}

.clients h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}

.clients__top {
  display: flex;
  height: 50%;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.clients__bottom {
  display: flex;
  height: 50%;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.clients a {
  height: 100%;
  width: 30%;
}

.clients img {
  color: #fff;
  box-sizing: border-box;
  display: flex;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  padding: 5px;
  transition: all 0.3s ease;
}

.clients a:hover img {
  opacity: 1;
  transition: all 0.3s ease;
}

/* CONTACT SECTION */
.contact {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  max-width: 900px;
  height: auto;
  margin: 90px auto;
  border-radius: 20px;
  padding: 40px 30px;
  background: rgba(25, 25, 25, 1);
}

.contact form {
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

.contact .input__field {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  margin: 10px auto;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.1) -2px -2px 6px 1px inset;
}

.contact .input__message {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.1) -2px -2px 6px 1px inset;
}


/* Hide the default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  color: rgba(255, 255, 255, 0.8);
}

.checkbox a {
  text-decoration: underline;
}

.checkbox .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.checkbox input:checked~.checkmark {
  border: solid 2px #000;
  background-color: #000;
  transition: all 0.3s ease;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid rgba(255, 255, 255, 0.8);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}





.contact form button {
  position: relative;
  left: 50%;
  font-family: monospace;
  color: #000;
  width: 50%;
  height: 50px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease;
}

.contact button:hover {
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: rgb(0, 0, 0) 2px 2px 6px 0px inset, rgba(255, 255, 255, 1) -2px -2px 6px 1px inset;
  transition: all 0.5s ease;
}




.footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  border-top: solid 2px rgba(255, 255, 255, 0.2);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 40px;
}

.footer__logo h3 a {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}

.footer__links {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 40px;
}

.footer__links a {
  padding: 20px 5px;
  transition: transform 0.3s ease;
}

.footer__links a:hover {
  text-decoration: underline;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
  }

  .footer__links {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}




.fade-in {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in.visible {
  opacity: 1;
}

.legal {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-top: 200px;
}